.title-contact {
    margin: 20px 350px;
    text-align: center;
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    border-radius: 3px;
    padding: 10px;
}

.contact {
    width: 700px;
    margin: 0 auto;
}

.contact-submit {
    text-align: center;
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    border-radius: 3px;
    border: none;
    padding: 10px 15px 10px 15px;

    &:active {
        outline: none !important;
        box-shadow: none;
    }

    &:focus {
        outline: none !important;
        box-shadow: none;
    }
}

@media (max-width: 980px) {

    /* For a screen < 960px, this CSS will be read */
    .title-contact {
        margin: 20px 200px;
    }

    .contact {
        width: 500px
    }
}

@media (max-width: 720px) {

    /* For a screen < 720px, this CSS will be read */
    .title-contact {
        margin: 20px 100px;
    }
}


@media (max-width: 520px) {

    /* For a screen < 400px, this CSS will be read */
    .title-contact {
        margin: 20px 90px;
    }

    .contact {
        width: 400px
    }
}

@media (max-width: 440px) {

    /* For a screen < 400px, this CSS will be read */
    .title-contact {
        margin: 20px 50px;
    }

    .contact {
        width: 380px
    }
}