.contact-submit {
    text-align: center;
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    border-radius: 3px;
    border: none;
    padding: 10px 15px 10px 15px;
    &:active {
        outline: none !important;
        box-shadow: none;
    }
    &:focus {
        outline: none !important;
        box-shadow: none;
    }
}