.certificats {
    text-align: center;
}

.title-certificat-php {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 160px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: .5s;
}

.title-certificat-js {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 240px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: .5s;
}

.title-certificat-react-native {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 160px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: .5s;
}

.title-certificat-track {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 250px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: .5s;
}

.title-certificat-react {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 160px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: .5s;
}

.title-certificat-wagon {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 250px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: .5s;
}

.card-certificat {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: .5s;
    border-radius: 3px;
}

.card-certificat img {
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card-certificat h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card-certificat p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-certificat .card-certificat-infos {
    padding: 16px;
}

.space-point {
    height: 70px;
    width: 50%;
    border-right: 4px dotted rgb(174, 232, 255);
}

@media (max-width: 960px) {

    /* For a screen < 960px, this CSS will be read */

    .title-certificat-php {
        margin: 0 0px;
    }

    .title-certificat-js {
        margin: 0 50px;
    }

    .title-certificat-track {
        margin: 0 50px;
    }

    .title-certificat-wagon {
        margin: 0 50px;
    }

    .title-certificat-react {
        margin: 0 0px;
    }

    .title-certificat-react-native {
        margin: 0 0px;
    }

}

@media (max-width: 720px) {

    /* For a screen < 720px, this CSS will be read */
    .title-certificat-php {
        margin: 0 50px;
    }

    .title-certificat-js {
        margin: 0 0px;
    }

    .title-certificat-track {
        margin: 0 0px;
    }

    .title-certificat-wagon {
        margin: 0 0px;
    }

    .title-certificat-react {
        margin: 0 20px;
    }

    .title-certificat-react-native {
        margin: 0 30px;
    }
}

@media (max-width: 540px) {

    /* For a screen < 540px, this CSS will be read */
    .title-certificat-php {
        margin: 0 0px;
    }

    .title-certificat-js {
        margin: 0 0px;
    }

    .title-certificat-track {
        margin: 0 0px;
    }

    .title-certificat-wagon {
        margin: 0 0px;
    }

    .title-certificat-react {
        margin: 0 0px;
    }

    .title-certificat-react-native {
        margin: 0 0px;
    }
}