.certificats {
    text-align: center;
}

.title-certificat-php {
    background-color: rgb(174, 232, 255);
    color: rgb(0, 119, 255);
    margin: 0 160px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
}